---
import ThemeToggle from './scripts/theme-toggle.astro'
import Footer from '../footer/index.astro'
import Header from '../header/index.astro'
import Head from './components/head.astro'

interface Props {
  title: string
  description: string
  image?: string
}

const {description, title, image = '/blog-placeholder-1.jpg'} = Astro.props
---

<!doctype html>
<html lang='en'>
  <Head description={description} title={title} image={image} />
  <body class='font-sans'>
    <Header />
    <slot />
    <Footer />
    <ThemeToggle />
  </body>
</html>
