---
type Props = {}

const {} = Astro.props
---

<section class='body-font'>
  <div class='container mx-auto px-5 py-24'>
    <div class='mb-20 flex w-full flex-wrap'>
      <div class='mb-6 w-full lg:mb-0 lg:w-1/2'>
        <h1 class='title-font mb-2 text-2xl font-medium text-white sm:text-3xl'>
          Crafting Digital Excellence
        </h1>
        <div class='h-1 w-20 rounded bg-indigo-500'></div>
      </div>
      <p class='w-full leading-relaxed text-gray-400 text-opacity-90 lg:w-1/2'>
        I focus on understanding clients' visions and transforming them into functional,
        aesthetically pleasing web applications. By adhering to best coding practices and Agile
        methodologies, I ensure clean, maintainable code.
      </p>
    </div>
  </div>
  <div class='-m-4 flex flex-wrap'>
    <div class='p-4 md:w-1/2 xl:w-1/4'>
      <div class='bg-base rounded-lg p-6'>
        <img
          class='mb-6 h-40 w-full rounded object-cover object-center'
          src='https://dummyimage.com/720x400'
          alt='content'
        />
        <h3 class='title-font text-xs font-medium tracking-widest text-primary'>SUBTITLE</h3>
        <h2 class='title-font mb-4 text-lg font-medium'>Chichen Itza</h2>
        <p class='text-base leading-relaxed'>
          Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison
          bulbche.
        </p>
      </div>
    </div>
    <div class='p-4 md:w-1/2 xl:w-1/4'>
      <div class='bg-base rounded-lg p-6'>
        <img
          class='mb-6 h-40 w-full rounded object-cover object-center'
          src='https://dummyimage.com/721x401'
          alt='content'
        />
        <h3 class='title-font text-xs font-medium tracking-widest text-primary'>SUBTITLE</h3>
        <h2 class='title-font mb-4 text-lg font-medium'>Colosseum Roma</h2>
        <p class='text-base leading-relaxed'>
          Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison
          bulbche.
        </p>
      </div>
    </div>
    <div class='p-4 md:w-1/2 xl:w-1/4'>
      <div class='bg-base rounded-lg p-6'>
        <img
          class='mb-6 h-40 w-full rounded object-cover object-center'
          src='https://dummyimage.com/722x402'
          alt='content'
        />
        <h3 class='title-font text-xs font-medium tracking-widest text-primary'>SUBTITLE</h3>
        <h2 class='title-font mb-4 text-lg font-medium'>Great Pyramid of Giza</h2>
        <p class='text-base leading-relaxed'>
          Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison
          bulbche.
        </p>
      </div>
    </div>
    <div class='p-4 md:w-1/2 xl:w-1/4'>
      <div class='bg-base rounded-lg p-6'>
        <img
          class='mb-6 h-40 w-full rounded object-cover object-center'
          src='https://dummyimage.com/723x403'
          alt='content'
        />
        <h3 class='title-font text-xs font-medium tracking-widest text-primary'>SUBTITLE</h3>
        <h2 class='title-font mb-4 text-lg font-medium'>San Francisco</h2>
        <p class='text-base leading-relaxed'>
          Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison
          bulbche.
        </p>
      </div>
    </div>
  </div>
</section>
