---
import {getRelativeLocaleUrl} from 'astro:i18n'
import {languages} from '../i18n/ui'
---

<ul>
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        <a href={getRelativeLocaleUrl(lang)}>{label}</a>
      </li>
    ))
  }
</ul>
