---
import type {ImageType} from '../../../lib/types/siteConfigs.types'
import MainLayout from '../../layouts/main/index.astro'
import AboutMe from './components/about-me-section.astro'
import HeroSection from './components/hero-section.astro'
import ProjectsSection from './components/projects-section.astro'
import ResumeSection from './components/resume-section.astro'

type Props = {
  title: string
  description: string
  poster: ImageType
}

const {description, title} = Astro.props
---

<MainLayout title={title} description={description}>
  <section class='bg-doted mx-6 gap-4 border-l-4 border-current p-4 md:mx-12'>
    <HeroSection />
    <div class='px-24'>
      <span class='divider'></span>
    </div>
    <AboutMe />
    <ProjectsSection />
    <div class='px-24'>
      <span class='divider'></span>
    </div>
    <ResumeSection />
  </section>
</MainLayout>
