---
import BaseHead from '@/components/BaseHead.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import { getLangFromUrl } from '@/i18n/utils'

type Props = {
  title: string
  description: string
}

const lang = getLangFromUrl(Astro.url)
const { description, title } = Astro.props
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead description={description} title={title} />
  </head>
  <body>
    <style is:global>
      .bg-doted {
        background-color: #e5e5f7;
        background-image: radial-gradient(#444cf7 0.5px, #fff 0.8px);
        background-size: 10px 10px;
      }
    </style>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
